.body{
    text-align: center;
    margin-top: 15%;
}

.div{
    background-color:beige;
    border: 5px solid black;
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#increment-btn {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    
}

#save-btn {
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 10px;
    
}

.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 20px; */
    font-weight: bold;
}

#save-el {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

